#document {
    width: 80vw;
    max-width: 1500px;
    min-width: 150px;
    margin: 0 auto;
}

body {
    background: rgb(0,203,255);
    
}

header{
    color: #000000;
    font-family: Verdana;
    font-size: 42px;
    font-style: oblique;
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

nav {
    text-align: center;
}

a {
    color: blue;
    font-family: Verdana;
    font-size: 16px;
}

.nav1mom{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.nav1 {
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: rgb(0, 170, 237);
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    background-color: rgba(0,170,237,0.5);

}
  
img {
    width: 300px;
    height: 400px;
}

p {
font-family: Verdana;
font-size: 20px;
color:black;
font-weight: normal;
}

.yev {
    color:#0028cad8;
    font-family: Verdana;
    font-size: 38px;
    font-style: oblique;
    font-weight: bold;
}

.pbdb {
    font-family: Verdana;
    font-size: 21px;
    font-style: normal;
    color: black;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(40, 201, 104);
    border-width: 5px;
    overflow: hidden;
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
}

.how {
    font-family: Verdana;
    font-size: 20px;
    font-style: normal;
    color: black;
}

.mywork {
    font-family: Verdana;
    font-size: 30px;
    font-style: oblique;
    font-weight: bold;
    color: black;
}

li {
    font-family: Verdana;
    font-size: 18PX;
    font-weight: normal;
    color: black;
}

.name {
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(27, 124, 221);
    border-width: 5px;
    overflow: hidden;
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
}

.skills {
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(255, 50, 50);
    border-width: 5px;
    overflow: hidden;
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
}

.hobbies {
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(201, 40, 155);
    border-width: 5px;
    overflow: hidden;
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
}

.birdbot {
    font-family: Verdana;
    font-size: 21px;
    font-style: normal;
    color: black;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(218, 221, 14);
    border-width: 5px;
    overflow: hidden;
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
}

.yevacc2{
    display: flex;
    flex-direction: column;
}
